
*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:white;
   
}

h1{
    padding: 10px;
    background-color: violet;
    font-size: 3rem;
    border: 3px solid black;
    font-style:oblique;
    
}
.choice{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    background-color:aqua;
    border-radius: 50%;
    font-size: 2rem;
    border: 7px solid transparent;
    font-size: 2.5rem;

}
.choices{
    display: flex;
    justify-content: center;
    display: absolute;
    gap: 4rem;
    margin-top: 5rem;
 font-style: italic;
}

.choice:hover{
    border: 7px solid black;
    cursor: pointer;
    color: black;
    font-size: 3rem;
}
.scoreBoard{
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
font-size: 2.5rem;
margin-top: 2rem;
}

#message{
    background-color: skyblue;
    display: inline-block;
    font-size: 4rem;
    padding: 10px;
    border-radius: 20px;
    margin-top: 3rem;
}
#userScore,#compScore{
    font-size: 5rem;
}

.play{
    background-color:transparent;
    font-weight: 700;
}

